[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gTestsMulti"]
	path = gTestsMulti
	url = https://github.com/cran/gTestsMulti
[submodule "kerSeg"]
	path = kerSeg
	url = https://github.com/cran/kerSeg
[submodule "kerTests"]
	path = kerTests
	url = https://github.com/cran/kerTests
